section {
  background-color: #888888;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  margin: 0;
  height: 250px;
  border: 15px solid #000000;
  outline: none;
}

p, h2 {
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 25px;
}
