button {
  display: flex;
  width: 200px;
  height: 150px;
  left: 50%;                    
  transform: translateX(-50%);
  position: relative;
  text-align: center;
  font-weight: bold;
  outline: none;
  background-color: #adfcff;
  
}

button:focus {
  background-color: #ffffff;
}
